.nav {
    grid-area: n;
    background-color:rgb(130, 214, 104);
    padding: 20px;
    
  }
 
.item{
  padding-bottom: 5px;
}  

.item a{
    color:honeydew;
    text-decoration: none;
}

.item a.activeLink { 
  color:orchid;
}

.settings{
  padding-top: 30px;
}

.settings a {
    color:honeydew;
    text-decoration: none;
}

.settings a.activeLink{
  color:orchid;
}

.sidebar {
  padding-top: 40px;
  color:honeydew;
}

.baritems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.baritems img {
  width: 40px;
  height: 40px;
  border-radius:50%;
}

